.opening-page {
  display: flex;
  justify-content: center;

  .main-logo {
    height: 100%;
    width: 100%;
    padding-top: 15em;
  }
}

@media screen and (max-width: 450px) {
  .opening-page .main-logo {
    height: auto;
    width: 75%;
    margin-top: 10em;
    padding-top: 0;
  }
}